.albumAudioEdit{
    position: absolute; 
    left: 50%;
    /* top: 50%; */
    -webkit-transform: translate(-50%,-0%);
    -ms-transform: translate(-50%,-0%);
    -o-transform: translate(-50%,-0%);
    transform: translate(-50%,-0%);  
    margin: 70px auto;
    color: white;
}
.albumAudioEdit .header{
   margin-left: 40px;
   margin-bottom: 30px;
}
.albumAudioEdit .header p{
   font-size: 30px;
}
.albumAudioEdit .form{
    /* height: 404px; */
    width:900px;
    background-color:#000000;/* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
    background-color: rgba(0,0,0,0.2); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
    margin-bottom: 50px;
    padding: 20px 30px;

    /* max-height: 500px;
    overflow: auto; */
}
.albumAudioEdit .uploadQueue{
  border: 1.5px dashed #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}