.scenicChoice{
    position: absolute; 
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);  
    margin: 0 auto;
    color: white;
}
.scenicChoice .header{
   margin-left: 80px;
    margin-right: 80px;
   margin-bottom: 30px;
}
.scenicChoice .header span{
   font-size: 30px;
}
.scenicChoice .form{
    /* height: 404px; */
    width:900px;
    overflow: auto;
    height: 500px;
    background-color:#000000;/* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
    background-color: rgba(0,0,0,0.2); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
    padding: 36px 0 36px 76px;
}
.scenicChoice img{
   height: 110px;
   width:110px;
   border: 2px solid #fff;
   border-radius: 5px;
}
.scenicChoice .check-btn{
     text-align: center;
     margin-right: 60px;
}