.covermap{
}
.covermap input{
    display:block;
    opacity: 0;
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 1;
}
.covermap span{
    margin-right: 24px;
    vertical-align: top;
}
.covermap .img{
    width: 100px;
    height: 100px;
    border: 1.5px dashed #ffffff;
    border-radius: 15px;
    display: inline-block;
    position: relative;
}
.covermap .imgPre{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    display: inline-block;
    position: relative;
}
.covermap .imgPre img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.covermap .imgPre .icon{
    width: 24px;
    height: 24px;
    right: 0;
    top: 0;
    position: absolute; 
    cursor:pointer;
}
.covermap .img .icon{
    width: 60px;
    height: 50px;
    position: absolute; 
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);  
    margin: 0 auto;
}